@import url("https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css");

@import "partials/variables";
@import "bootstrap/scss/bootstrap";
@import "partials/cssVariables";
@import "partials/transitions";

.channel-programs {
  position: relative;
  padding-left: 50px;

  small {
    display: block;
  }

  .channel-program-now {
    &:before {
      content: "";
      background-image: url("http://localhost:8082/assets/live.gif");
      width: 40px;
      height: 20px;
      background-size: contain;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
    }
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}


#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bs-dark);

  main {
    flex: 1;
    overflow: hidden;
  }
}
