@import "bootstrap/scss/functions";

$primary:       #EF5B0C;
$secondary:     #D4F6CC;
$dark:          #003865;


:root {
 /* --bs-primary: #EF5B0C;
  --bs-primary-rgb: #{to-rgb(#EF5B0C)};
  --bs-secondary: #D4F6CC;
  --bs-secondary-rgb: #{to-rgb(#D4F6CC)};
  --bs-dark: #003865;
  --bs-dark-rgb: #{to-rgb(#003865)};*/
}
